<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='MeetUpLogo.png') }}">
</head>
<body>

<div class="container">
    <h1>Gruppenchat</h1>
    <p style="color: gold;">Eingeloggt als <strong>{{ username }}</strong></p>

    <form method="POST">
        <input name="text" placeholder="Nachricht" required>
        <div class="button-row">
            <button type="submit">Senden</button>
            <button class="but" type="button" onclick='window.location.href="{{ url_for("index") }}";'>Home</button>
        </div>
    </form>

    <hr>

    <div id="chat-box">
        {% for message in messages %}
            <div class="event-card">
                <h3>{{ message.username }}</h3>
                <p>{{ message.text }}</p>
            </div>
        {% endfor %}
    </div>

    <script>
    async function loadMessages() {
        const response = await fetch("/messages");
        const data = await response.text();
        document.getElementById("chat-box").innerHTML = data;
    }
    setInterval(loadMessages, 3000);
    </script>
</div>

</body>
</html>
