<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Event erstellen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='meetuplogo.svg') }}">
</head>
<body>

<div class="container">

    <h1>Event erstellen</h1>

    <form method="POST">

        <input class="titel" type="text" name="title" placeholder="Titel" required>

        <input class="datum" type="date" name="date" required>
        
        <input class="uhr" type="time" name="time" required>

        <input class="beschreibung" name="description" placeholder="Beschreibung"></input>

        <button class= "but" type="submit">Erstellen</button>
        <button class="but" type="button" onclick='window.location.href="{{ url_for("index") }}";'>Abbrechen</button>

    </form>

</div>

</body>
</html>