<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Event erstellen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='MeetUpLogo.png') }}">
</head>
<body>

<div class="container-small">

    <h1>Event erstellen</h1>

    <form method="POST">

        <input type="text" name="title" placeholder="Titel" required>

        <div class="date-time-row">
            <input type="date" name="date" required>
            <input type="time" name="time" required>
        </div>

        <div class="description-money-row">
            <input name="description" placeholder="Beschreibung">
            <input type="number" name="money" placeholder="Geld">
        </div>

        <div class="button-row">
            <button class="but" type="submit">Erstellen</button>
            <button class="but" type="button" onclick='window.location.href="{{ url_for("index") }}";'>Abbrechen</button>
        </div>
    </form>

</div>

</body>
</html>
